# # Build results

[Bb]in/
[Oo]bj/

# User-specific files
Labwork 1/A.bin
Labwork 1/C.bin
Labwork 1/B.bin
Labwork 1/D.bin
Labwork 1/initial.bin

.devcontainer
Labwork 2/~$bwork 2.docx
Labwork 4/~WRL0003.tmp
Labwork 4/~$bwork 4.docx
